<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>
          <span i18n>隊伍</span>
          <div class="card-actions">
            <button type="button" class="btn" (click)="showCreateCard()">
              <span i18n>新增</span>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>
                  <span i18n>代號</span>
                </th>
                <th>
                  <span i18n>動作</span>
                </th>
                <th>
                  <span i18n>項目</span>
                </th>
                <th>
                  <span i18n>報名單位</span>
                </th>
                <th>
                  <span i18n>報名者</span>
                </th>
                <th>
                  <span i18n>報名者電話</span>
                </th>
                <th>
                  <span i18n>參賽單位</span>
                </th>
                <th>
                  <span i18n>選手</span>
                </th>
                <th>
                  <span i18n>生日</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let team of teams">
                <td>{{team.id}}</td>
                <td>
                  <button type="button" class="btn btn-primary">
                    <span i18n>編輯</span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <span i18n>刪除</span>
                  </button>
                </td>
                <td>{{team.competitionItem}}</td>
                <td>{{team.coach.unit}}</td>
                <td>{{team.coach.name}}</td>
                <td>{{team.coach.phone}}</td>
                <td>{{team.competitionUnit}}</td>
                <td>
                  <div *ngFor="let member of team.members">
                    {{member.name}}
                  </div>
                </td>
                <td>
                  <div *ngFor="let member of team.members">
                    {{member.birthday}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <!-- Create -->
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card" [hidden]="!isCreateShown">
        <div class="card-header">
          <i class="fa fa-plus"></i>
          <span i18n>新增</span>
          <div class="card-actions">
            <button type="button" class="btn" (click)="hideCreateCard()">
              <span i18n>關閉</span>
            </button>
          </div>
        </div>
        <div class="card-body">
          <h5 i18n>說明</h5>
          <ol>
            <li>請先選擇教練，才能在該教練底下新增選手與單位，最後再新增隊伍</li>
          </ol>
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                  1.
                  <span i18n>選擇教練</span>
                </div>
                <div class="card-body">
                  <input type="text" class="form-control" id="coachSelect" aria-describedby="coachSelectHelp">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Members -->
            <div class="col-sm-12 col-lg-6">
              <div class="card">
                <div class="card-header">
                  1.
                  <span i18n>新增競賽選手</span>
                </div>
                <div class="card-body">
                  <div class="form-group row">
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="memberInput" aria-describedby="memberInputHelp" i18n-placeholder placeholder="例如：王大明">
                    </div>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="memberInput" aria-describedby="memberInputHelp" i18n-placeholder placeholder="例如：1989/01/01">
                    </div>
                    <div class="col-sm-2">
                      <button type="button" class="btn btn-primary" (click)="createModal.hide()">
                        <span i18n>新增</span>
                      </button>
                    </div>
                  </div>
                  <div class="form-group">
                    <p i18n class="card-text">已新增的選手</p>
                    <table class="table">
                      <thead>
                        <tr>
                          <th i18n>姓名</th>
                          <th i18n>生日</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>王大明</td>
                          <td>1989/10/01</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- Competition Unit -->
            <div class="col-sm-12 col-lg-6">
              <div class="card">
                <div class="card-header">
                  2.
                  <span i18n>新增競賽單位</span>
                </div>
                <div class="card-body">
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="competitionUnitInput" aria-describedby="competitionUnitInputHelp" i18n-placeholder
                        placeholder="例如：大安國小">
                    </div>
                    <div class="col-sm-2">
                      <button type="button" class="btn btn-primary" (click)="createModal.hide()">
                        <span i18n>新增</span>
                      </button>
                    </div>
                  </div>
                  <div class="form-group">
                    <p i18n class="card-text">已新增的單位</p>
                    <table class="table">
                      <thead>
                        <tr>
                          <th i18n>名稱</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>大安國小</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                  3.
                  <span i18n>新增隊伍</span>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-group row">
                      <label for="competitionItemSelect" class="col-sm-2 col-form-label">
                        <span i18n>項目</span>
                      </label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="competitionItemSelect">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="competitionUnitSelect" class="col-sm-2 col-form-label">
                        <span i18n>單位</span>
                      </label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="competitionUnitSelect">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="memberSelect" class="col-sm-2 col-form-label">
                        <span i18n>選手</span>
                      </label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="memberSelect">
                      </div>
                    </div>
                  </form>
                  <table class="table">
                    <thead>
                      <tr>
                        <th i18n>編號</th>
                        <th i18n>項目</th>
                        <th i18n>單位</th>
                        <th i18n>選手</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          1
                        </td>
                        <td>
                          a
                        </td>
                        <td>
                          a
                        </td>
                        <td>
                          a
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary" (click)="createModal.hide()">
                            <span i18n>編輯</span>
                          </button>
                          <button type="button" class="btn btn-danger" (click)="createModal.hide()">
                            <span i18n>刪除</span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-secondary" (click)="hideCreateCard()">
            <span i18n>關閉</span>
          </button>
          <button type="submit" class="btn btn-primary" (click)="hideCreateCard()">
            <span i18n>送出</span>
          </button>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/Create-->
  </div>
</div>